.top-bar 
{   position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.barracima {
    background: black;
    right: 0;
          position: absolute;
          z-index: -3;
          height: 11.5vh;
          width: 100%;
          top: 0px;
          box-sizing: border-box;
    }

    body {
        margin: 0em;
        background-color: rgb(130, 82, 175);
    }


    .grid-container {
        display: grid;
        gap: 35px;
        grid-template-columns: auto auto auto;
        background-color:rgb(130, 82, 175);
        padding: 10px;
    
      }
      
      .grid-item {
        background-color: orange;
        padding: 35px;
        font-size: 30px;
        text-align: center;
        height: 250px;
        width: 275px;
        font-size: 10px;
      }


      .searchTerm {
        margin-left: 200px;
        z-index: 100;
        margin-top: -3px;
        
      }

      .contato{
       margin-top: 35px;
       margin-left: 400px;
       
      }

      .searchTerm {
        border: 3px solid orange;
        height: 35px;
        border-radius: 5px 5px 5px 5px;
        outline: none;
        color: purple;
        width: 600px;
      }

      button{  
      background-color: orange;
      border-radius: 5px 5px 5px 5px;
      height: 30px;
      border: 4px solid purple;
      color: black ;
      font-style: bold;
      }

        button:hover{
            background-color: rgb(240, 78, 255);

        }

        

      .grid-item:hover{
        background-color: rgb(255, 188, 125) ;
        height: 285px;
        width: 350px;
      }


      h1{
       font-size: 10px;
       color:orange;
      }

      h1:hover{
         font-size: 20px;
         color: black;
      }